


/*Load google font*/
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');



/* Reset Styles */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
a{
	text-decoration: none;
	text-transform: none;
	color: #4A90E2;
}

body {
	line-height: 1;
	font-family: "Arial Narrow";
	text-rendering : optimizeLegibility;
	-webkit-font-smoothing : antialiased;
	font-size: 19px;
	background-color: rgb(231, 239, 245);
	color: #04143A;
	background-image: url(background.jpg);
	background-size:cover;
}


p {
	color: white;
	font-size: 17;
	line-height: 31px;
}

strong {
	font-weight: 600;
}

div , footer {
	box-sizing: border-box;
}




/*Hero section*/

.container {
	max-width: 1100px;
	height: auto;
	margin: 60px auto;
}

.hero {
	margin: 50px auto; 
	position: relative;
	width: 1200px;
}

h1.name {
	font-size: 70px;
	font-weight: 300;
	display: inline-block;
	font-family: Georgia;
}

.job-title, .past-title{
	vertical-align: top;
	background-color: rgb(12, 42, 78);
	color: white;
	font-weight: 50;
	margin-top: 5px;
	margin-left: 10px;
	border-radius: 5px;
	display: inline-block;
	padding: 15px 25px;	
	max-width: 300px;
}
.job-title{
	font-size: 22px;
	font-weight: lighter;
	width: 200px;
	text-align: center;
	line-height: 1.5;
}

.past-title{
	float: clear;
	padding-left:30px;
}

#email-add {
	display: block;
	font-size: 30px;
	font-weight: 300;
	color: rgb(4, 10, 24);
	margin-top: 10px;
}

#title-head{
	font-size: 24px;
	text-align: center;
}

.lead {
	font-size: 40px;
	font-weight: 300;
	margin-top: 60px;
	line-height: 55px;
	text-align: center;
	font-family: Georgia;
	width: 1000px;

}
ul {
line-height:150%
}



img{
	border-style: solid;
  border-color: black;
  border-width: 1px;
}



.cards {
	max-width: 1120px;
	display: block;
	margin-top: 20px;
}


.card {
	width: 17.9%;
	height: 290px;
	background-color: rgb(12, 42, 78);
	display: inline-block;
	margin: 7px 5px;
	vertical-align: top;
	border-radius: 10px;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	border-style: solid;
  border-color: black;
  border-width: 1px;
  color: white;
  line-height: 1.5;
}
 .card:hover{
	transform: scale(1.5);
	transition: 0.4s;
	background-color:rgb(92, 149, 199);
	box-shadow: 0px 5px 50px -8px white;
	cursor: pointer;
	color: black;
	line-height: 1.5;
	
}

#card-head{
	padding-bottom: 5px;
	padding-top: 5px;
}



li:hover {
  color: #48A4D2;
}
li .description {
  display: block;
}
 
 #info-button{
	 font-size: 20px;
	 cursor: pointer;
	 padding:5px;	 
 }

 #info-button:hover{
	background: rgb(92, 149, 199);
}

#skill-list{
	padding-left: 20px;
}

/* Media queries*/

@media(max-width: 1024px){
	.container {
		padding: 15px;
		margin: 0px auto;
	}
	.cards {
		margin-top: 50px;
	}
	.card {
		padding: 15px;	
		height: 400px;
	}
}

@media(max-width: 768px){
	.container {
		padding: 15px;
		margin: 0px auto;
	}
	.cards {
		margin-top: 15px;
	}

	.card {
		padding: 15px;	
		height: 400px;
		margin: 10px 0 0 40px;
	}
	.card h2 {
		font-size: 70px;
	}
		.card , .sections {
			width: 75%;
		height: auto;
		margin: 10px 0;
		float: left;
	}

	.timeline{
		border: none;
		background-color: rgba(0,0,0,0);
	}

	.timeline li{
		margin-top: 70px;
		height: 150px;
	}
}


@media(max-width: 450px) {
	h1.name {
		font-size: 40px;
	}

	.card , .sections {
		width: 100%;
		height: auto;
		margin: 10px 0 0 40px;
		float: left;
	}

	.timeline{
		display: none;
		}

	.job-title {
		position: absolute;
		font-size: 15px;
		top: -40px;
		right: 20px;
		padding: 10px;
		text-align: center;
	}

	.lead {
		margin-top: 15px;
		font-size: 20px;
		line-height: 28px;
	}
	.container {
		margin: 0px;
		padding: 0 15px;
	}
	footer {
		margin-top: 50px;
	}
	}


